{% capture footer_contents %}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Imprint</a>
  {% endif %}
  {% if site.privacy_path %}
    {% if site.impressum_path %} | {% endif %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.privacy_path }}">Privacy Policy</a>
  {% endif %}
  {% if site.legal_path %}
    {% if site.impressum_path or site.privacy_path %} | {% endif %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.legal_path }}">Legal Notice</a>
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
